body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.right-section a {
    text-decoration: none;
    cursor: pointer;
    color: #07043B;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Raleway';
}

li {
    list-style: none;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 65px 80px 0px 80px;
}


.menu .logo-name{
    font-family: 'Raleway';
    font-size: 40px;
    margin-left: 16px;
    font-weight: bold;
}

.left-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.right-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 0px;
}

.right-section ul li:nth-child(2) {
    padding: 0px 58px 0px 57px;
}

/*section 1*/

.content-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 86px 80px 0px 80px;

}

.content-1 .left-side {
    display: flex;
    flex-direction: column;
    width: 47%
}

.content-1 .right-side {
    display: flex;
}

.illustration-1 {
    height: auto;
    width: 100%;
}

.content-1 .text-info h2 {
    font-family: 'Raleway';
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    color: #07043B;
}

.content-1 .text-info p {
    font-family: 'Open Sans';
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.53125px;
    color: #07043B;
}

.content-1 .email-form input {
    border: 0;
    border: 1px solid #07043B;
    box-shadow: 2px 3px 6px 0px #00000029;
    border-radius: 5px;
    padding: 14px 172px 12px 21px;

}

.content-1 .email-form input[type=email] {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    letter-spacing: 0.46666669845581055px;
    box-sizing: border-box;
}

.content-1 .email-form input[type=email]:focus {
    outline: none;
}

.content-1 .email-form button {
    width: 200px;
    height: 45px;
    background-color: #2F65F8;
    color: #FFFFFF;
    border: 0;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: 2px 3px 6px 0px #00000029;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 700;
    line-height: 16.44px;
}

.email-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    margin-top: 25px;
}

/*content-2*/

.content-2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 284px 80px 0px 80px;
}

.content-2 .left-side {
    display: flex;
    flex-direction: column;
    width: 51%;
}

.content-2 .background-image img {
    width: 100%;
    background-color: red;
}

.background-img {
    background-image: url(/imgs/Rectangle.png);
    background-repeat: no-repeat;
    margin-top: 164px;
    padding-top: 178px;
    background-size: cover;
}

.content-2 .right-side .illustration-2 {
    width: 100%;
}

.content-2 .left-side .text-info {
    display: flex;
    flex-direction: column;
}


.content-2 .group-1 .heading {
    width: 102%;
}


.content-2 .group-1 .heading h2 {
    font-family: 'Raleway';
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    color: #07043B;
}

.content-2 .group-1 .paragraphs {
    width: 79%;
}


.content-2 .group-1 p {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.content-2 .group-2 a {
    display: flex;
    flex-direction: row;
    gap: 8px;
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    color: #3DA08F;
}

.content-2 .box {
    margin-top: 45px;
    background-color: #FFFFFF;
    width: 45%;
    padding: 49px 42px 26px 33px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px #3838380C;
}

.content-2 .box .child-box {
    display: flex;
    align-items: center;
    flex-direction: row;
}


.content-2 .box p {
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.5px;
    text-align: left;

}

.content-2 .box .paragraph p {
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.5px;
    text-align: left;
}

.content-2 .box .child-box .info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 8px;
}

.content-2 .box-top-icon img {
    width: 18px;
}

.content-2 .info .name {
    font-family: 'Open Sans';
    font-size: 11px;
    font-weight: 700;
    line-height: 14.98px;
    letter-spacing: 0.550000011920929px;
    color: #07043B;
}

.content-2 .info .position {
    font-family: 'Open Sans';
    font-size: 8px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.4000000059604645px;
    color: #07043B;

}